{{#if dash}}
<div class="hide-footer"></div>
{{else}}
<footer>
    <div class="footer-top">
        <div class="footer-link">
            <div class="link-head">Get to Know Us</div>
            <ul>
                <li><a href="">Careers</a></li>
                <li><a href="">Amazon and Our</a></li>
                <li><a href="">Investor Relations</a></li>
                <li><a href="">Press Releases</a></li>
            </ul>

        </div>
        <div class="footer-link">
            <div class="link-head">Make Money with Us</div>
            <ul>
                <li><a href="">Sell on Amazon</a></li>
                <li><a href="">Sell Under Amazon Accelerator</a></li>
                <li><a href="">Amazon Associates</a></li>
                <li><a href="">Sell on Amazon Handmade</a></li>
                <li><a href="">Advertise Your Products</a></li>
                <li><a href="">Independently Publish</a></li>
            </ul>
        </div>
        <div class="footer-link footer-link-bottom">
            <div class="link-head">Amazon Payment Products</div>
            <ul>
                <li><a href="">Amazon.ca Rewards Mastercard</a></li>
                <li><a href="">Shop with Points</a></li>
                <li><a href="">Reload Your Balance</a></li>
                <li><a href="">Amazon Currency Converter</a></li>
                <li><a href="">Gift Cards</a></li>
                <li><a href="">Amazon Cash</a></li>
            </ul>
        </div>
        <div class="footer-link footer-link-bottom">
            <div class="link-head">Let Us Help You</div>
            <ul>
                <li><a href="">Shipping Rates &amp; Policies</a></li>
                <li><a href="">Amazon Prime</a></li>
                <li><a href="">Returns Are Easy</a></li>
                <li><a href="">Manage your Content and Devices</a></li>
                <li><a href="">Customer Service</a></li>
            </ul>

        </div>

    </div>

    <div class="footer-bottom">
        <div class="contact">
            <strong>Phone: </strong><span>(905)-123-1234</span><br>
            <strong>Email: </strong><span>info@amazon.com</span><br>
            <ul class="social-list">
                <li><a class="social-icon" href="https://www.facebook.com/Amazon/"><i
                            class="fab fa-facebook-square"></i></a></li>
                <li><a class="social-icon" href="https://twitter.com/amazon"><i class="fab fa-twitter"></i></a>
                </li>
                <li><a class="social-icon" href="https://www.youtube.com/user/amazon"><i class="fab fa-youtube"></i></a>
                </li>
            </ul>

        </div>
        <div class="footer-right">
            <div class="subscribe">
                <h2>Subscribe our newsletter!</h2>
                <form action="" method="POST">
                    <input id="sub-info" required name="subcribe" type="email"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Email Address">
                    <input id="sub-button" type="submit" value="Subscribe">
                </form>
            </div>
            <div class="footer-menu">
                <ul>
                    <li><a href="/">Home</a>/</li>
                    <li><a href="/products">Products Page</a>/</li>
                    {{#if user}}
                    {{#isClerkFooter user}}
                    {{/isClerkFooter}}
                    <li><a href="/order/shoppingCart"><i class="fas fa-shopping-cart"></i></a>/</li>
                    <li><a href="/user/logout">Logout</a></li>
                    {{else}}
                    <li><a href="/user/registration">Customer Registration</a>/</li>
                    <li><a href="/user/login">Login</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</footer>
{{/if}}