{{#if dash}}
<div class="hide-dash"></div>
{{else}}
<header>
    <img src="/image/amazon-logo.jpg" alt="logo">
    <form id="search-form" action="/custSearch" method="POST">
        <input id="search" required name="search" type="text" {{#if hasValue}} value="{{searchValue}}" {{/if}}>
        <button id="search-button" type="submit"><i class="fas fa-search"></i></button>
    </form>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <ul class="responsive">
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products Page</a></li>
            {{#if user}}
            {{#isClerk user}}
            {{/isClerk}}
            <li><a href="/order/shoppingCart"><i class="fas fa-shopping-cart"></i></a></li>
            <li><a href="/user/logout">Logout</a></li>
            {{else}}
            <li><a href="/user/registration">Customer Registration</a></li>
            <li><a href="/user/login">Login</a></li>
            {{/if}}
        </ul>
    </nav>

</header>
{{/if}}