* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
}

body {
    margin: 40px 20px;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

p {
    margin-top: 15px;
    font-size: 1rem;
}

a {
    text-decoration: none;
}