/******************************************************************
                                General
*******************************************************************/

* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    line-height: 1.7rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #f5f6fa;
    /*background: linear-gradient(to right, #ff6b6b, #feca57);*/
}

main {
    padding: 16px, 32px;
}

/******************************************************************
                                Header
*******************************************************************/
header {
    background-color: #333;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    height: 70px;
}

#search-form {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-left: 25px;
}

#search {
    font-size: 1.5rem;
    height: 2rem;
    width: 100%;
    margin: auto;
}

#search-button {
    height: 2rem;
    width: 4rem;
    margin: auto;
}

#search-button i {
    font-size: 1.5rem;
    color: #636e72;
}

#search-button:hover,
#search-button:focus {
    cursor: pointer;
}

header>img {
    height: 70px;
    margin-left: 5%;
}

nav {
    justify-self: end;
    white-space: nowrap;
    padding: 0 15px;
}


nav>ul>li {
    display: inline-block;
    padding: 20px 15px;
}

nav>ul>li>a {
    color: #fff;
    text-decoration: none;
}

.checkbtn {
    color: #fff;
    font-size: 30px;
    line-height: 80px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


/******************************************************************
                                Footer
*******************************************************************/
footer {
    color: #fff;
    display: grid;
    grid-template-rows: 1fr auto;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    background-color: #535c68;
}

.footer-link {
    justify-self: center;
}

.link-head {
    font-weight: bold;
}

.footer-link ul>li {
    list-style: none;
    padding-top: 0.3rem;
}

.footer-link ul>li>a {
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: lighter;
}

.footer-link ul>li>a:hover,
.footer-link ul>li>a:focus {
    border-bottom: 1px solid #fff;
}

.footer-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    background-color: #333;
}


.contact {
    /*margin-left: 10%;*/
    grid-column: 2/3;
    justify-self: start;
}

.contact span {
    font-style: italic;
}

.contact a {
    text-decoration: none;
    color: white;
}

.footer-right {
    grid-column: 3/5;
    justify-self: start;
}

.social-list li {
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    padding-right: 10px;
}

.social-icon i {
    font-size: 1.4rem;
    color: #fff;
}

nav>ul>li>a:hover,
nav>ul>li>a:focus,
.footer-menu>ul>li>a:hover,
.footer-menu>ul>li>a:focus,
.social-icon i:hover,
.social-icon i:focus {
    color: #34c6d3;
}

.subscribe>h2 {
    font-size: 1em;
}

#sub-info {
    padding: 0.3em;
}

#sub-button {
    padding: 0.3em;
    border-radius: 5px;
}

#sub-button:hover,
#sub-button:focus {
    cursor: pointer;
    background-color: #b2bec3;
}

.footer-menu {
    margin-top: 0.7rem;
}

.footer-menu>ul>li {
    display: inline-block;
    font-size: 0.8em;
}

.footer-menu>ul>li>a {
    color: #fff;
    text-decoration: none;
    padding-right: 5px;
}


/******************************************************************
                                Promotion
*******************************************************************/
.promotion {
    margin: 1% 5%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.promotion>h1 {
    font-size: 2em;
}

.img-container {
    background-image: url(../image/promotion.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner-container {
    padding: 65px 0;
    text-align: center;
    color: #fff;
    line-height: 3rem;
}

/******************************************************************
                                Category
*******************************************************************/
.product-category {
    display: grid;
    /*grid-template-columns: repeat(4,1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 1em;
    margin: 2% 5%;
}

.category-item {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.category-item img {
    min-width: 250px;
}

/*.category-item > h2,
.promotion > h2,
.best-seller > h2,
.product-list > h2*/
h2 {
    font-size: 1rem;
    white-space: nowrap;
}

.category-item>a,
.promotion>h2>a,
.best-seller>h2>a {
    font-size: 0.7rem;
    text-decoration: none;
}

/******************************************************************
                                Best Seller
*******************************************************************/
.best-seller {
    margin: 2% 5%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.best-seller-item {
    display: grid;
    grid-auto-flow: column;
    overflow: auto;
}

.best-seller-item img {
    min-width: 250px;
}

/******************************************************************
                                Product List
*******************************************************************/
.product-list {
    max-width: 1800px;
    margin: 2% auto;
    padding: 0 5%;
}

.product-item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product-item {
    border: #ced6e0 solid 2px;
}

.product-item>p {
    font-size: 1rem;
    margin-left: 1%;
}

.show-best-seller {
    color: #fff;
    font-style: italic;
    background-color: #EA2027;
}

.hide-best-seller {
    display: none;
}

/******************************************************************
                                Form Control
*******************************************************************/
.infoForm {
    border: 1px solid #b2bec3;
    max-width: 400px;
    min-width: 200px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.infoForm h1 {
    margin: 4% 4%;
    font-size: 1.5em;
}

.reg-log label {
    margin-left: 4%;
    font-size: 1rem;
}

.reg-log input {
    margin: 0 4% 2%;
    width: 92%;
    padding: 0.3em;
}

.reg-log p {
    margin: 2% 4%;
    font-size: 0.7rem;
}

#notice {
    margin-top: -2%;
}

.infoForm input[type="submit"] {
    background-color: #FFC312;
    border-radius: 5px;
}

.infoForm input[type="submit"]:hover,
.infoForm input[type="submit"]:focus {
    background-color: #F79F1F;
    cursor: pointer;
}

.infoForm a {
    text-decoration: none;
}

.errors {
    color: red;
}

/******************************************************************
                                Responsive
*******************************************************************/
@media(max-width: 1150px) {

    header {
        font-size: 1rem;
    }

    .product-category {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        margin: 2% 5%;
    }

    .footer-bottom {
        grid-template-columns: 1fr 1fr;
    }
    .contact {
        grid-column: 1/2;
    }

    .footer-right {
        grid-column: 2/3;
    }
}

@media (max-width: 1000px) {

    body {
        overflow-x: hidden;
    }

    .checkbtn {
        display: block;
    }

    header {
        grid-template-columns: auto 1fr auto;
    }

    .responsive {
        position: absolute;
        width: 30%;
        height: 250px;
        background-color: #333;
        top: 70px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }

    #check:checked~ul {
        right: 0;
    }

    nav ul li {
        display: block;
        padding: 10px 10px;
    }

    .footer-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
    
    .footer-link {
        justify-self: start;

    }
    .footer-link-bottom {
        padding-top: 20px;
    }
    
    .footer-bottom .contact {
        font-size: 1rem;
    }
    .social-icon i {
        font-size: 1.2rem;
    }
    .subscribe>h2 {
        font-size: 1.2rem;
    }
    .footer-menu>ul>li {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {

    header {
        font-size: 0.7rem;
    }
    .responsive {
        height: 200px;
    }
    .product-item-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-bottom {
        display: block;
        text-align: center;
    }
    .footer-right {
        padding-top:20px;
    }
    .product-category {
        display: block;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 0.3rem;
    }
    .link-head {
        font-size: 0.9rem;
    }
}

@media (max-width: 320px) {

    
    #search-button {
        height: 2rem;
        width: 2rem;
    }
    #search-button i {
        font-size: 0.7rem;
    }
    .product-item-container {
        display: block;
    }
}