/******************************************************************
                                General
*******************************************************************/

* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.site {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    line-height: 1.7rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #f5f6fa;
    /*background: linear-gradient(to right, #ff6b6b, #feca57);*/
}

main {
    padding: 16px, 32px;
}

/******************************************************************
                                Header
*******************************************************************/
header {
    background-color: #333;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    height: 70px;
}

#search-form {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-left: 25px;
}

#search {
    font-size: 1.5rem;
    height: 2rem;
    width: 100%;
    margin: auto;
}

#search-button {
    height: 2rem;
    width: 4rem;
    margin: auto;
}

#search-button i {
    font-size: 1.5rem;
    color: #636e72;
}

#search-button:hover,
#search-button:focus {
    cursor: pointer;
}

header>img {
    height: 70px;
    margin-left: 5%;
}

nav {
    justify-self: end;
    white-space: nowrap;
    padding: 0 15px;
}


nav>ul>li {
    display: inline-block;
    padding: 20px 15px;
}

nav>ul>li>a {
    color: #fff;
    text-decoration: none;
}

.checkbtn {
    color: #fff;
    font-size: 30px;
    line-height: 80px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


/******************************************************************
                                Footer
*******************************************************************/
footer {
    color: #fff;
    display: grid;
    grid-template-rows: 1fr auto;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    background-color: #535c68;
}

.footer-link {
    justify-self: center;
}

.link-head {
    font-weight: bold;
}

.footer-link ul>li {
    list-style: none;
    padding-top: 0.3rem;
}

.footer-link ul>li>a {
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: lighter;
}

.footer-link ul>li>a:hover,
.footer-link ul>li>a:focus {
    border-bottom: 1px solid #fff;
}

.footer-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    background-color: #333;
}


.contact {
    /*margin-left: 10%;*/
    grid-column: 2/3;
    justify-self: start;
}

.contact span {
    font-style: italic;
}

.contact a {
    text-decoration: none;
    color: white;
}

.footer-right {
    grid-column: 3/5;
    justify-self: start;
}

.social-list li {
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    padding-right: 10px;
}

.social-icon i {
    font-size: 1.4rem;
    color: #fff;
}

nav>ul>li>a:hover,
nav>ul>li>a:focus,
.footer-menu>ul>li>a:hover,
.footer-menu>ul>li>a:focus,
.social-icon i:hover,
.social-icon i:focus {
    color: #34c6d3;
}

.subscribe>h2 {
    font-size: 1em;
}

#sub-info {
    padding: 0.3em;
}

#sub-button {
    padding: 0.3em;
    border-radius: 5px;
    color:#535c68;
}

#sub-button:hover,
#sub-button:focus {
    cursor: pointer;
    background-color: #b2bec3;
}

.footer-menu {
    margin-top: 0.7rem;
}

.footer-menu>ul>li {
    display: inline-block;
    font-size: 0.8em;
}

.footer-menu>ul>li>a {
    color: #fff;
    text-decoration: none;
    padding-right: 5px;
}


/******************************************************************
                                Promotion
*******************************************************************/
.promotion {
    margin: 1% 5%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.promotion>h1 {
    font-size: 2em;
}

.img-container {
    background-image: url(../image/promotion.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner-container {
    padding: 65px 0;
    text-align: center;
    color: #fff;
    line-height: 3rem;
}

/******************************************************************
                                Category
*******************************************************************/
.product-category {
    display: grid;
    /*grid-template-columns: repeat(4,1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 1em;
    margin: 2% 5%;
}

.category-item {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.category-item img {
    min-width: 250px;
}

/*.category-item > h2,
.promotion > h2,
.best-seller > h2,
.product-list > h2*/
h2 {
    font-size: 1rem;
    white-space: nowrap;
}

.category-item>a,
.promotion>h2>a,
.best-seller>h2>a {
    font-size: 0.7rem;
    text-decoration: none;
}

/******************************************************************
                                Best Seller
*******************************************************************/
.best-seller {
    margin: 2% 5%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.best-seller-item {
    display: grid;
    grid-auto-flow: column;
    overflow: auto;
}

.best-seller-item img {
    min-width: 250px;
}

/******************************************************************
                                Product List
*******************************************************************/
.products {
    margin: 2% 5%;
    display: grid;
    grid-template-columns: auto 1fr;
}

.product-list {
    max-width: 1800px;
    padding: 0 3%;
}

.product-cate ul>li {
    list-style: none;
}

.cate-title {
    margin-bottom: 15%;
    font-size: 2rem;
    font-weight: bold;
}

.cate-list li {
    margin-bottom: 10%;
}

.cate-list li>a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.cate-list li>a:hover,
.cate-list li>a:focus {
    border-bottom: 1px solid black;
}

.cate-nav {
    color: #333;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

#cate-nav {
    display: none;
}

.product-item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product-item {
    border: #ced6e0 solid 2px;
}

.product-item>p {
    font-size: 1rem;
    margin-left: 1%;
}

.product-item>p>a {
    text-decoration: none;
}

.show-best-seller {
    color: #fff;
    font-style: italic;
    background-color: #EA2027;
}

.hide-best-seller {
    display: none;
}

.bold {
    font-weight: bold;
}

/******************************************************************
                                Form Control
*******************************************************************/
.infoForm {
    border: 1px solid #b2bec3;
    max-width: 400px;
    min-width: 200px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.infoForm h1 {
    margin: 4% 4%;
    font-size: 1.5em;
}

.reg-form label {
    margin-left: 4%;
    font-size: 1rem;
}

.reg-form input,
.reg-form select,
.reg-form textarea {
    margin: 0 4% 2%;
    width: 92%;
    padding: 0.3em;
}

.reg-form input[type='checkbox'] {
    transform: scale(1.6);
    width: auto;
    margin: 0 2%;
}

.reg-form input[type='checkbox']:hover,
.reg-form input[type='checkbox']:focus {
    cursor: pointer;
}

.reg-form p {
    margin: 2% 4%;
    font-size: 0.7rem;
}

#notice {
    margin-top: -2%;
}

.infoForm input[type="submit"] {
    background-color: #FFC312;
    border-radius: 5px;
}

.infoForm input[type="submit"]:hover,
.infoForm input[type="submit"]:focus {
    background-color: #F79F1F;
    cursor: pointer;
}

.infoForm a {
    text-decoration: none;
}

.errors {
    color: red;
    font-style: italic;
    margin-top: -2% !important;
}

.red-border {
    border: red solid 1px;
}

/******************************************************************
                               Register Dashboard
*******************************************************************/
.dashboard {
    margin: 40px 20px;
    text-align: center;
}

.dashboard h1 {
    font-size: 2rem;
}

.dashboard p {
    margin-top: 15px;
    font-size: 1rem;
}

.dashboard a {
    text-decoration: none;
}

/******************************************************************
                               Products Dashboard
*******************************************************************/

.productDash {
    margin-left: 3%;
    padding: 20px 0;
}

.productDash>h1 {
    margin-bottom: 1rem;
}

.products-search-form {
    margin-bottom: 1rem;

}

.products-select {
    padding: 0.5rem;
    width: 250px;
}

.product-search-button {
    padding: 0.4rem;
}

.product-search-button:hover,
.product-search-button:focus {
    cursor: pointer;
}

#product-links-holder {
    margin-bottom: 0.8rem;
}

.products-table,
.category-table {
    max-width: 100%;
    overflow-x: auto;
    text-align: center;
}


.products-table img,
.category-table img {
    width: 250px;
    display: block;
}

/******************************************************************
                               Products Description
*******************************************************************/
.container {
    padding-top: 30px;

}

.item-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f6f6f6;
}

.btn-success {
    width: 100%;
    border-radius: 0;
}

.section {
    width: 100%;
    margin-left: -15px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    background: #f8f9f9
}

.title-price {
    margin-top: 30px;
    margin-bottom: 0;
    color: black
}

.btn-minus {
    cursor: pointer;
    font-size: 7px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    border-right: 0;
}

.btn-plus {
    cursor: pointer;
    font-size: 7px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    border-left: 0;
}

div.section>div {
    width: 100%;
    display: inline-flex;
}

div.section>div>input {
    margin: 0;
    padding-left: 5px;
    font-size: 10px;
    padding-right: 5px;
    max-width: 18%;
    text-align: center;
}


@media (max-width: 426px) {
    .container {
        margin-top: 0px !important;
    }

    .container>.row {
        padding: 0 !important;
    }

    .container>.row>.col-xs-6 {
        padding-right: 0;
    }

    .container>.row>.col-xs-6>div>p {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .container>.row>.col-xs-6>div>ul {
        padding-left: 10px !important;

    }
    .btn-minus {

        font-size: 5px;
        display: flex;
        align-items: center;

        padding-left: 5px;
        padding-right: 5px;
       
    }
    
    .btn-plus {
        font-size: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
    div.section>div>input {
        padding-left: 2px;
        font-size: 10px;
        padding-right: 2px;

    }
    .section {
        width: 100%;
        padding-bottom:20px;
    }
    .glyphicon-shopping-cart {
        display:none;
    }
}

/******************************************************************
                                Shopping Cart
*******************************************************************/

.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .quanty-form {
        display: inline !important;
    }

    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }

    .actions .btn-info {
        float: left;
    }

    .actions .btn-danger {
        float: right;
    }

    table#cart thead {
        display: none;
    }

    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }

    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }

    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }



    table#cart tfoot td {
        display: block;
    }

    table#cart tfoot td .btn {
        display: block;
    }

}

/******************************************************************
                                Responsive
*******************************************************************/
@media(max-width: 1150px) {

    header {
        font-size: 1rem;
    }

    .product-category {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        margin: 2% 5%;
    }

    .footer-bottom {
        grid-template-columns: 1fr 1fr;
    }

    .contact {
        grid-column: 1/2;
    }

    .footer-right {
        grid-column: 2/3;
    }
}

@media (max-width: 1000px) {

    .site {
        overflow-x: hidden;
        position: relative;
    }

    .checkbtn {
        display: block;
        z-index: 10;
    }

    header {
        grid-template-columns: auto 1fr auto;
    }

    .responsive {
        position: absolute;
        width: 30%;
        height: 250px;
        background-color: #333;
        top: 70px;
        right: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1000;
    }

    #check:checked~ul {
        right: 0;
    }

    .cate-nav {
        display: block;
    }

    .cate-responsive {
        position: absolute;
        width: 30%;
        height: 350px;
        background-color: #ced6e0;
        top: 130px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    #cate-nav:checked~ul {
        left: 0;
    }

    .cate-title {
        font-size: 1.2rem;
    }


    .cate-list li>a {
        font-size: 0.8rem;
    }

    nav ul li {
        display: block;
        padding: 10px 10px;
    }

    .footer-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }

    .footer-link {
        justify-self: start;

    }

    .footer-link-bottom {
        padding-top: 20px;
    }

    .footer-bottom .contact {
        font-size: 1rem;
    }

    .social-icon i {
        font-size: 1.2rem;
    }

    .subscribe>h2 {
        font-size: 1.2rem;
    }

    .footer-menu>ul>li {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {

    header {
        font-size: 0.7rem;
    }

    .responsive {
        height: 200px;
    }

    .product-item-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-bottom {
        display: block;
        text-align: center;
    }

    .footer-right {
        padding-top: 20px;
    }

    .product-category {
        display: block;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 0.3rem;
    }

    .link-head {
        font-size: 0.9rem;
    }
}

@media (max-width: 320px) {


    #search-button {
        height: 2rem;
        width: 2rem;
    }

    #search-button i {
        font-size: 0.7rem;
    }

    .product-item-container {
        display: block;
    }
}