<section class="dashboard">
    <h1>Hi {{name}}!<br> Welcome to Amazon!</h1>
    <p>Congratulation! You have successfully registered with Amazon!</p>
    <p>Visit our website: <a
            href="https://web322-amazon-project.herokuapp.com/">https://web322-amazon-project.herokuapp.com/</a></p>
    <br>
    <a href="https://web322-amazon-project.herokuapp.com/"><img src="../image/amazon-logo.jpg"></a>
</section>