<section class="dashboard">
    <h1>Hi {{name}}!<br> Welcome to Amazon!</h1>
    <p>Congratulation! You have successfully registered with Amazon!</p>
    <p><a href="/user/login"> Log in </a></p>
    <br>
    <img src="/image/amazon-logo.jpg">
</section>