<section class="infoForm">
    <h1> Add Category</h1>

    <form class="reg-form" method="POST" action="/product/addCategory" enctype="multipart/form-data">
        <label for="category">Category</label> <br>
        <input type="text" {{#if this.category}} class="red-border" {{/if}} {{#if this.categoryValue}}
            value="{{this.categoryValue}}" {{/if}} name="category" id="category"> <br>
        {{#if this.category}}
        <p class="errors">{{this.category}}</p>
        {{/if}}
        <label>Category Image Upload</label> <br>
        <input type="file" name="categoryImg" id="categoryImg">
        {{#if this.files}}
        <p class="errors">{{this.files}}</p>
        {{/if}}
        <br>

        <input type="submit" values="Add Category">

    </form>

</section>