<div class="container">
        	<div class="row">
               <div class="col-xs-6 item-photo">
                    <img style="max-width:100%;" src="/image/chocolate.jpg" />
                </div>
                <div class="col-xs-6" style="border:0px solid gray">

                    <h3>Chocolate</h3>    
                    <h4 style="color:#337ab7">Description: </h4>
                    <p>Very sweet!</p>
        

                    <h4 style="color:#337ab7">Price:</h4>
                    <h3 style="margin-top:0px;">$399</h3>
                 
                    <div class="section" >
                        <h4 style="color:#337ab7">Quantitly:</h4>                   
                        <div>
                            <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
                            <input value="1" />
                            <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
                        </div>
                    </div>                
        
                    <div class="section" >
                        <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</button>
                    </div>                                        
                </div>   
            </div>
</div>