<section class="infoForm">
<h1> Add Product</h1>

<form class="reg-form" method="POST" action="/product/add" enctype="multipart/form-data">
    <label for="title">Product Name</label> <br>
    <input type="text" name="title" id="title"> <br>

    <label>Category</label> <br>
    <select name="category">
        {{#each cat}}
        <option value="{{this.category}}" >{{this.category}}</option>
        {{/each}}
    </select> <br>

    <label for="price">Price</label> <br>
    <input type="number" name="price" id="price" min="0.00" step="0.01"> <br>

    <label for="inventory">Inventory</label> <br>
    <input type="number" name="inventory" id="inventory" min="0"> <br>

    <label for="description">Product Description</label><br>
    <textarea id="description" name="description"></textarea><br>

    <label for="bestSeller">BestSeller</label>
    <input type="checkbox" id="bestSeller" name="bestSeller"> <br>

    <label>Product Image Upload</label> <br>
    <input type="file" name="productImg" id="productImg"> <br>

    <input type="submit" values="Add Product">

</form>

</section>